<%= render "shared/tabs", active_tab: "samples" %>
<div class="w-full flex items-baseline gap-5 mt-5">
  <h1 class="text-3xl font-semibold uppercase tracking-wider">My Samples</h1>
  <%= link_to "Add a sample", new_writing_sample_path %>
</div>

<ul class="w-11/12 grid grid-cols-2 gap-5">
  <li class="w-full flex justify-center items-center gap-1 border rounded-t-md bg-neutral-100 py-1">
    <% unless params[:selected] %>
      <svg class="h-2 w-2 fill-neutral-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
    <% end %>
    <%= link_to "All",
      writing_samples_path,
      class: "tracking-wider" 
    %>
  </li>
  <li class="w-full flex justify-center items-center gap-1 border rounded-t-md bg-neutral-100 py-1">
    <% if params[:selected] %>
      <svg class="h-2 w-2 fill-neutral-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
    <% end %>
    <%= link_to "Selected",
      writing_samples_path(selected: true),
      class: "tracking-wider" 
    %>
  </li>
</ul>

<div id="shoes" class="flex flex-col gap-2">
  <%= render @writing_samples %>
</div>